<div class="control-pane">
    <div class="control-section">
        <div id="spreadsheet-maincontent">
            <ejs-spreadsheet id="spreadsheet" #spreadsheet [openUrl]="openUrl" [saveUrl]="saveUrl" [sheets]="sheet" [height]="height" (created)="created()" (dataBound)="onDataBound()"> </ejs-spreadsheet>
            <ejs-sidebar #sidebar [width]="width" [target]="target" [position]="position" [closeOnDocumentClick]="false"
                [showBackdrop]="false" style="visibility: hidden">
                <div id="defaultAIAssistView" style="border: none;">
                    <button ejs-button #closebutton id="close" cssClass="close-btn"
                        style="float: right;font-size: 24px; border: none; background: none;" (click)="btnClick()">&times;</button>
                </div>
            </ejs-sidebar>
        </div>
    </div>
    <div id="action-description">
        <p>This sample demonstrates the integration of AI to automatically analyze content, generate formulas, and validate
            them in the Spreadsheet.</p>
        <p>To explore this and more Syncfusion Angular Smart AI integrations locally, check out our <a target='_blank'
            href='https://github.com/syncfusion/smart-ai-samples/tree/master/angular/' aria-label="Navigate to explore the syncfusion Angular AI Demos repository">GitHub
            repository</a>.</p>
    </div>
    <div id="description">
        <p>In this sample, a tab labeled <code>AI Assistant</code> provides access to AI-powered features. Users can utilize
            the following capabilities:</p>
        <ul>
            <li><strong>Full Sheet Analysis:</strong> Analyzes the data in the sheet and provides a summary of the details.
            </li>
            <li><strong>Validate:</strong> Validates the formulas in the current selection and updates the details as notes
                in the corresponding cells.</li>
            <li><strong>Generate Formula:</strong> Generates formulas based on user requirements using the AI AssistView.
            </li>
        </ul>
    </div>
     <app-ai-toast></app-ai-toast>
</div>